# Dataset (Change based on your yyyy-mm needed) as dummy used 2026-01
TAXI_URL=https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2026-01.parquet
TAXI_ZONE_LOOKUP_URL=https://d37ci6vzurychx.cloudfront.net/misc/taxi_zone_lookup.csv
TAXI_DATA_FILENAME=yellow_tripdata_2026-01.parquet
TAXI_ZONE_LOOKUP_TABLE=taxi_zone_lookup.csv

# Airflow
AIRFLOW_UID=501

# METADATA GOOGLE CLOUD
PROJECT_ID=
REGION=
BUCKET_NAME=
TOPIC_ID=
SUBSCRIPTION_ID=

# BIG QUERY DATASETS
BQ_DATASET_RAW=
BQ_DATASET_STAGING=
BQ_DATASET_INTERMEDIATE=
BQ_DATASET_MART=
BQ_DATASET_QUARANTINE=
BQ_DATASET_STREAMING=

# BIG QUERY TABLE STREAMING
BG_TABLE_STREAMING_CURATED =
BG_TABLE_STREAMING_QUARANTINE =