# Airflow
AIRFLOW_UID=501

# METADATA GOOGLE CLOUD
PROJECT_ID=
REGION=
BUCKET_NAME=
TOPIC_ID=
SUBSCRIPTION_ID=

# BIG QUERY DATASETS
BQ_DATASET_RAW=
BQ_DATASET_STAGING=
BQ_DATASET_INTERMEDIATE=
BQ_DATASET_MART=
BQ_DATASET_QUARANTINE=
BQ_DATASET_STREAMING=

# BIG QUERY TABLE STREAMING
BG_TABLE_STREAMING_CURATED = "trips_curated"
BG_TABLE_STREAMING_QUARANTINE = "trips_quarantine"